---
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:image" content="{{ site.baseurl }}/images/logos/engineroom.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://library.theengineroom.org/" />
    <meta property="og:title" content="" />

    <link href="{{site.baseurl}}/images/icons/favicon.png" rel="shortcut icon" type="image/png" />
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css?v={{site.time | date: '%s'}}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="{{site.baseurl}}/scripts/scrollspy.js"></script>
    <script src="{{site.baseurl}}/scripts/site.js"></script>

    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
    </script>

    <title>{{page.title}}</title>
    {% if page.scripts %}{{page.scripts}}{% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@EngnRoom">
    <meta name="twitter:creator" content="@EngnRoom">
    <meta name="twitter:title" content="The Engine Room 2016 Retrospective">
    <meta name="twitter:description" content="2016 has been a big year for The Engine Room as our work and our impact continues to grow. And while the year saw a series of dramatic and unexpected events which at times have tested one of our organisational premises - that evidence and data matter - we believe that our work has never been more relevant or important.">
    <meta name="twitter:image" content="https://2016.theengineroom.org/images/ER_Texture_HEADER_BG_1_0A.jpg">

    <meta property="og:url" content="https://2016.theengineroom.org" />
    <meta property="og:type" content="website" />
    <meta property="og:title"              content="The Engine Room 2016 Retrospective" />
    <meta property="og:description"        content="2016 has been a big year for The Engine Room as our work and our impact continues to grow. And while the year saw a series of dramatic and unexpected events which at times have tested one of our organisational premises - that evidence and data matter - we believe that our work has never been more relevant or important." />
    <meta property="og:image" content="https://2016.theengineroom.org/images/ER_Texture_HEADER_BG_1_0A.jpg" />

  </head>




  <body class="row {% if layout.theme %}{{layout.theme}}{% endif %}">

    {% if page.show_navbar %}
    <nav class="three columns">
      <div class="logo">
        <a href="/"><img src="{{site.baseurl}}/images/logos/main-logo.png" alt="Engine Room" /></a>
      </div>
      {% include navbar.html %}
    </nav>
    {%endif%}

    {{content}}

    {% if page.show_footer %}
    <footer class="twelve columns row">
      <div class="nine columns offset-by-three u-flex-center">
        <div class="logos four columns u-flex-center">
            <div class="logo half-width"><a href="https://theengineroom.org"><img src="{{site.baseurl}}/images/logos/engineroom.png" alt="The Engine Room" /></a></div>

          </div>
          <div class="text six columns">
            <p>{% if page.footer_text %}{{page.footer_text}}{%else%}
              This page was created by The Engine Room{% if page.funder_name %} {% endif %}.
              {% endif %}
            </p>
          </div>
          <div class="logo license one column">
            <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode">
              <img src="{{site.baseurl}}/images/license.png"/>
            </a>
          </div>
      </div>
    </footer>
    {% endif %}
    {% include analytics.html %}
  </body>
</html>
